{
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["prettier", "no-only-tests"],
  "rules": {
    "no-only-tests/no-only-tests": "error"
  }
}
